<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %date{HH:mm:ss.SSS} %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.vertx" level="WARN">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.hazelcast" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="io.netty.util.internal.PlatformDependent" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="io.syncpoint.dtn" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="WARN">
        <!-- <appender-ref ref="STDOUT" /> -->
    </root>
</configuration>